USE [master]
GO
/****** Object:  Database [im]    Script Date: 2017/3/7 18:34:17 ******/
CREATE DATABASE [im]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'im', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\im.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'im_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\im_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [im].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [im]
GO
/****** Object:  Table [dbo].[Frends]    Script Date: 2017/3/7 18:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frends](
	[FrendID] [int] NOT NULL,
	[Id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2017/3/7 18:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[LoginID] [varchar](50) NULL,
	[Sex] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Frends]  WITH CHECK ADD  CONSTRAINT [FK_Frends_UserInfo] FOREIGN KEY([Id])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[Frends] CHECK CONSTRAINT [FK_Frends_UserInfo]
GO
ALTER TABLE [dbo].[Frends]  WITH CHECK ADD  CONSTRAINT [FK_Frends_UserInfo1] FOREIGN KEY([FrendID])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[Frends] CHECK CONSTRAINT [FK_Frends_UserInfo1]
GO
USE [master]
GO
